body{
    margin: 0px;
}
nav{
    width: 100%;
    height: 90px;
    background-color: white;
}
#logo{
    display: inline-block;
    margin-top: 5px;
    width: 260px;
}
#schoolName{
    margin-top: -1px;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
}
.link-cont{
    float: right;
    position: relative;
    top: -75px;
    margin-right: 100px;
}
.navBar{
    padding: 8px;
    font: 17px sans-serif;
    text-decoration: none;
    color: black;
    float: right;
    position: relative;
    top: 13px;
}
.navBar:hover{
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 5px;
}
#for-sign-in{
    text-decoration: none;
    color: white;
}
#sign-in{
    position: absolute;
    color: white;
    background-color:#1ea3f0b7;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    top: 28px;
    right: 30px;
}
#sign-in:hover{
    background-color:#3434c283;
}
.others{
    display: none;
}
#humberger{
    display: none;
    position: absolute;
    top: 8px;
    right: -70px;
    width: 45px;
    cursor: pointer;
}
#checkbox{
    display: none;
}
.closesidebutton, .opensidebar{
    display: none;
}

@media (max-width:600px) {

    #logo{
        display: inline-block;
        margin-top: 5px;
        margin-left: -30px;
        width: 220px;
    }
    .link-cont{
        display: none;
        z-index: 10;
        top: -6px;
        right:0;
        margin-inline-end: auto;
        text-align: center;
        align-items: flex-start;
        flex-direction:column;
        background-color:#ccccdbb7;
        height:300px;
        width: 100%;
        margin-bottom: -370px;
    }
    .others{
        text-align: center;
        display: block;
        margin-top: 10px;
        padding: 8px;
        font: 17px sans-serif;
        text-decoration: none;
        color: black;
    }
    .others:hover{
        background-color: rgba(128, 128, 128, 0.301);
        border-radius: 5px;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    #sign-in{
        display: inline-block;
        width: 70px;
        position: absolute;
        color: white;
        background-color:#1ea3f0;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        top:28px;
        right: 70px;
    }
    #humberger{
        display: block;
        position: absolute;
        top: -28px;
        right: 20px;
        width: 45px;
    }
    .opensidebutton{
        margin-top: 50px;
        display: block;
    }
    .closesidebutton{
        position: absolute;
        right: 47%;
        margin-top: 30px;
        display: inline-block;
    }
    #checkbox:checked ~ .link-cont{
        display: flex;
    }
    .container{
        margin-left: -125px;
    }
}
.container{
    position:absolute;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: inline-block;
    position: relative;
    margin-top: 50px;
    width:400px;
    height: 400px;
    background-color:#ffffffdf;
    color: rgb(0, 0, 0);
    border-radius: 5px;
   
}
input{
    color:white;
}
#sign-in2{
    display: inline-block;
    position: absolute;
    top: 15px;
    left:65px;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bolder;
}
#for-email{
    display: inline-block;
    position: absolute;
    width:67%;
    height: 10%;
    top: 23%;
    left: 65px;
    background-color: hsla(0, 0%, 57%, 0.151);
    border: 1px solid rgba(214, 209, 209, 0.658);
    border-radius: 5px;
    padding-left: 10px;
    font-size: medium;
}
#for-password{
    display: inline-block;
    width:67%;
    height: 10%;
    position: absolute;
    top:40%;
    left: 65px;
    margin-top: -10px;
    background-color:hsla(0, 0%, 57%, 0.151);
    border:1px solid rgba(214, 209, 209, 0.658);
    border-radius:5px;
    padding-left:10px ;
    font-size: medium;
}
#submit-sign-in{
    display: inline-block;
    width: 70%;
    height: 45px;
    position: absolute;
    left:65px;
    top: 53%;
    text-align: center;
    font-family: Arial;
    font-size: large;
    background-color: rgba(255, 0, 0, 0.863);
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    transition: 1s;
}
#submit-sign-in:hover{
    border:1px solid antiquewhite;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    background-color: rgb(118, 160, 233);
    width: 65%;
    left: 80px;
}
#or{
    display: block;
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    color:hsl(0, 0%, 0%);
    margin-top: 54%;
}
#use-a-sign-in{
    display: inline-block;
    width:72%;
    height: 40px;
    position: absolute;
    top:74%;
    left: 65px;
    border: none;
    background-color: hsl(0, 100%, 50%);
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    transition: 1s;
}
#use-a-sign-in:hover{
    background-color: rgb(118, 160, 233);
    color: black;
}
a{
    text-decoration: none;
}
#forgot-pass{
    position: absolute;
    top: 82%;
    left: 33%;
    font-family: sans-serif;
    font-size: large;
    text-decoration: none;
    color: rgb(0, 0, 0);
}