
body{
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 100%;
    height: 90px;
    background-color: white;
}
#logo{
    display: inline-block;
    margin-top: 5px;
    width: 260px;
}
#schoolName{
    margin-top: -1px;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
}
.link-cont{
    float: right;
    position: relative;
    top: -75px;
    margin-right: 100px;
}
#contact{
    background-color: rgba(209, 201, 201, 0.89);
    border-radius: 10px;
}
.navBar{
    padding: 8px;
    font: 17px sans-serif;
    text-decoration: none;
    color: black;
    float: right;
    position: relative;
    top: 13px;
}
.navBar:hover{
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 5px;
}
#for-sign-in{
    text-decoration: none;
    color: white;
}
#sign-in{
    position: absolute;
    color: white;
    background-color:#3434c2b7;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    top: 28px;
    right: 30px;
}
#sign-in:hover{
    background-color:#3434c283;
}
.others{
    display: none;
}
#humberger{
    display: none;
    position: absolute;
    top: 8px;
    right: -70px;
    width: 45px;
    cursor: pointer;
}
#checkbox{
    display: none;
}
.closesidebutton, .opensidebar{
    display: none;
}
@media (max-width:700px) {

    #logo{
        display: inline-block;
        margin-top: 5px;
        margin-left: -30px;
        width: 220px;
    }
    .link-cont{
        display: none;
        z-index: 10;
        top: -12px;
        right:0;
        margin-inline-end: auto;
        text-align: center;
        align-items: flex-start;
        flex-direction:column;
        background-color:#ccccdbb7;
        height:300px;
        width: 100%;
        margin-bottom: -370px;
    }
    .others{
        text-align: center;
        display: block;
        margin-top: 10px;
        padding: 8px;
        font: 17px sans-serif;
        text-decoration: none;
        color: black;
    }
    .others:hover{
        background-color: rgba(128, 128, 128, 0.301);
        border-radius: 5px;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    #sign-in{
        display: inline-block;
        width: 70px;
        position: absolute;
        color: white;
        background-color:#3434c2b7;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        top:28px;
        right: 70px;
    }
    #humberger{
        display: block;
        position: absolute;
        top: -28px;
        right: 20px;
        width: 45px;
    }
    .opensidebutton{
        margin-top: 50px;
        display: block;
    }
    .closesidebutton{
        position: absolute;
        right: 47%;
        margin-top: 30px;
        display: inline-block;
    }
    #checkbox:checked ~ .link-cont{
        display: flex;
    }
    #mapa{
    position: absolute;
    border-radius: 15px;
    margin-top: 70px;
    width: 70%;
    left: -90px;
    height: 100px;
    }
    .skul-email{
        position: absolute;
        margin-top: 20px;
        left: -45px;
    }
    .contactNum{
        position: absolute;
        margin-top: 20px;
        left: -50px;
        color:rgb(255, 255, 255);
    }
    #reser{
        width: 16%;
    }
}

input{
    height: 40px;
    border: 1px solid grey;
    border-radius: 7px;
    padding-left: 5px;
    width: 80%;
}
textarea{
    border-radius: 7px;
    width: 80%;
}
#submit{
    border: none;
    width: 30%;
    background-color: red;
    color: whitesmoke;
    transition: 1s;
}
#submit:hover{
    background-color: whitesmoke;
    color: red;
}
#reset{
    border: none;
    width: 15%;
    background-color: red;
    color: whitesmoke;
}
#formtable{
    background-color: rgba(78, 27, 120, 0.381);
    border-radius: 10px;
}
h1{
    color: white;
}
footer{
    background-color: hsla(232, 95%, 68%, 0.797);
    position:static;
    bottom: 0;
    margin-left: -20px;
    width: 104;
    height: 200px;
}
.skul-email{
    position: absolute;
    margin-top: 20px;
    margin-left: 15%;
    color:rgb(255, 255, 255);
}
.contactNum{
    position: absolute;
    margin-top: 20px;
    margin-left: 75%;
    color:rgb(255, 255, 255);
}
#mapa{
    margin-left: 33%;
    border-radius: 20px;
    height: 100px;
}
